:root {
     --font-family: "Nunito", sans-serif;
     --white: rgba(252, 252, 252, 1);
     --off-white: rgba(247, 247, 247, 1);
     --blue: rgba(38, 84, 124, 1);
     --light-blue: rgb(239, 247, 255);
     --yellow: rgba(255, 209, 102, 1);
     --pink: rgba(239, 71, 111, 1);
     --green: rgba(6, 214, 160, 1);
     --dark-text: rgb(12, 12, 12);
}

::-moz-selection {
     background: var(--green);
     opacity: 0.7;
}
::selection {
     background: var(--green);
     opacity: 0.7;
}
* {
     box-sizing: border-box;
}
body {
     font-size: 16px;
     font-family: var(--font-family);
     background-color: var(--off-white);
     color: var(--dark-text);
}

header {
     position: fixed;
     border-bottom: 4px solid var(--yellow);
     width: 100%;
     padding: 35px;
     text-align: center;
     background-color: var(--blue);
     z-index: 10;
     box-shadow: 0 1.1px 1.1px rgba(0, 0, 0, 0.022), 0 2.8px 2.7px rgba(0, 0, 0, 0.031), 0 5.7px 5.5px rgba(0, 0, 0, 0.039), 0 11.7px 11.3px rgba(0, 0, 0, 0.048), 0 32px 31px rgba(0, 0, 0, 0.07);
}
header h1 {
     color: var(--white);
     margin: 0;
}
h1 {
     font-size: 2rem;
     text-transform: uppercase;
     font-weight: 300;
     color: var(--pink);
     margin-bottom: 15px;
}
h2 {
     font-size: 1.4rem;
     color: var(--pink);
     text-transform: uppercase;
     margin-bottom: 20px;
}
h3 {
     font-weight: 700;
     text-transform: uppercase;
     font-size: 18px;
     margin-bottom: 15px;
     color: var(--blue);
}
.container {
     padding-top: 102px;
     display: flex;
}
aside {
     padding: 2%;
     flex-grow: 1;
     background-color: var(--white);
     box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
     border-radius: 0 0 8px 0;
     min-width: 300px;
}

aside ul {
     margin-top: 20px;
     border: 1px solid rgb(235, 235, 235);
     background-color: var(--green);
}
aside li {
     padding: 15px 20px;
     border: 1px solid rgb(235, 235, 235);
     font-size: 14px;
     background-color: var(--white);
     text-transform: uppercase;
     color: var(--blue);
     transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
     transform: translateX(0px);
}

aside li:hover {
     background-color: rgb(230, 230, 230);
     cursor: pointer;
     transform: translateX(5px);
}
aside li span {
     visibility: hidden;
     text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
     float: right;
     margin-top: -6px;
     font-size: 20px;
     color: white;
     transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
aside li:hover span {
     visibility: visible;
     text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
aside li:hover span:hover {
     color: var(--pink);
}
main {
     max-width: 86%;
     flex-grow: 4;
}
.search {
     position: relative;
     z-index: 1;
}
.search label {
     width: 100%;
     display: block;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 800;
}
.search input {
     line-height: 2.5rem;
     width: 200px;
     border: 2px solid rgb(235, 235, 235);
     font-size: 16px;
     padding: 0 15px;
}
.search input:focus {
     outline: none !important;
     border: 2px solid var(--yellow);
}

.search button {
     position: relative;
     top: 7px;
     border: none;
     font-size: 30px;
     background-color: var(--pink);
     color: var(--white);
     border-radius: 3px;
     cursor: pointer;
}
.search button span {
     padding: 5px;
}
.search button:hover {
     background-color: var(--green);
}
main {
     padding: 2vw;
}
.today {
     background-color: var(--white);
     margin-bottom: 4vh;
     padding: 2vw;
     flex-basis: 100%;
     min-height: 340px;
     width: 100%;
     border-radius: 8px;
     box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.today li {
     padding: 10px 0;
}
.today li span {
     font-weight: bolder;
}
.today h2 {
     margin-top: 25px;
     color: var(--blue);
     font-weight: 700;
}
.search .material-icons {
     line-height: 1.25em;
}
.uv {
     font-weight: 300;
     padding: 5px 10px;
     border-radius: 2px;
}
.uv.low {
     background-color: var(--green);
}
.uv.medium {
     background-color: var(--yellow);
}
.uv.high {
     background-color: var(--pink);
}
.five-day {
     margin-bottom: 4vh;
     padding: 2vw;
}
ol {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
ol img {
     margin-bottom: 20px;
     text-align: centera;
}
ol li {
     display: block;
     max-width: 17%;
     background-color: var(--white);
     box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
     border-radius: 6px;
     padding: 2vw;
}
ol li span {
     width: 100%;
     display: block;
     padding: 15px 0;
}
